@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root, main {
  height: 100%;
}

#root {
  width: clamp(40%, 600px, 90%);
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: transparent;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #27272a;
    border-radius: 100vh;
    border: 2px solid #18181b;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #202020;
  }
}